@{
    ViewData["Title"] = "Home Page";// truyền vào thằng _layout ở viewdata title// title của trang đấy hiển thị lên
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
